<div *ngIf="displayEnv" class="envShow">
  Select an API environment to log into<br /><br />

  <select id="ollwat_env" [(ngModel)]="selectedApiEnv" (ngModelChange)="changeEnv()" required>
    <option
      *ngFor="let apiEnv of apiService.api_env_list; let i = index"
      value="{{ i }}"
      [selected]="i == storage.getSessionApiEnv()"
    >{{ apiEnv.name }}</option
    > </select
  ><br />
  <br />
</div>
