<button class="clear" type="submit" (click)="envChange()">
  Change Env
</button>

<form #form="ngForm" (ngSubmit)="handleSubmit(form.value)">

  <div *ngIf="!userMetaInfo.userToken || userMetaInfo.userToken.length == 0" class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Error!</strong> User Token (Required) not set/passed in cookies.
  </div>

  <div *ngIf="errorObj" class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Error!</strong> {{errorObj}}
  </div>

  <label>User Token:</label><br>
  <input type="text" id="userToken" name="userToken" [ngModel]="userMetaInfo.userToken" disabled required>
  <br>

  <label>Access Token:</label><br>
  <input type="text" id="accessToken" name="accessToken" [ngModel]="userMetaInfo.accessToken" disabled required>
  <br>

  <label>Backend Service URL:</label><br>
  <input type="text" id="serviceUrl" name="serviceUrl" [ngModel]="userMetaInfo.backendUrl" disabled required>

  <br><br>

  <button class="clear" type="submit" [disabled]="form.invalid">
    Submit
  </button>

</form>
